.vertical-timeline-element{
cursor: pointer;
}
.vertical-timeline-element--title:hover,
.vertical-timeline-element--title:focus{
  box-shadow: 0 0.5em 0.5em -0.2em var(--color-primary);
  transform: translateY(-0.25em);
}
.paraAlignment{
  text-align: justify;
  word-break: break-all;
}